{% block standart_doctype %}<!DOCTYPE html>{% endblock %}
<html>
<head>
    {% block head_start %}{% endblock head_start %}
    {% block standart_charset %}<meta charset="UTF-8" />{% endblock standart_charset %}
    {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% endblock %}
    <title>{% block before_title %}{% endblock before_title%}{% block title %}Backend{% endblock title %}{% block after_title %}{% endblock after_title %}</title>
    {% block standart_stylesheets %}
        {% stylesheets
            'bundles/backenddesign/css/*'
            filter="cssrewrite"
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}
    {% endblock standart_stylesheets %}
    {% block stylesheets %}{% endblock stylesheets %}
    {% block standart_jquery %}
        {% javascripts '@BackendDesignBundle/Resources/public/js/jquery/jquery.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock standart_jquery %}
    {% block stnadart_ie9_javascript %}
        <!--[if lt IE 9]>
        {% javascripts '@BackendDesignBundle/Resources/public/js/ie9/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!--[endif]-->
    {% endblock stnadart_ie9_javascript %}
    {% block standart_favicon %}<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />{% endblock standart_favicon %}
    {% block head_end %}{% endblock head_end %}
</head>
<body>
{% block body_start %}{% endblock body_start %}
{% block body %}
    {% block before_main_header %}{% endblock before_main_header %}
    {% block main_header %}
    <header class="navbar navbar-header navbar-fixed-top navbar-amax">
        <div class="header-logo">
            {% block navbar_logo %}
            <a href="{% block navbar_logo_link %}#{% endblock navbar_logo_link %}" class="logo-link">
                <img src="{% block navbar_logo_img %}{% endblock navbar_logo_img %}" alt="logo">
            </a>
            {% endblock navbar_logo %}
            {% block navbar_brend %}
            <a href="{% block navbar_brend_link %}#{% endblock navbar_brend_link %}" class="brand-link">
                <div class="brand-container">
                    <h3>{% block navbar_brend_title %}Backend{% endblock navbar_brend_title %}</h3>
                </div>
            </a>
            {% endblock navbar_brend %}
        </div>
        <div class="header-content">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#top-menu-toggle">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-collapse collapse" id="top-menu-toggle">
                {% block main_menu %}
                    {{ mopa_bootstrap_menu('backend_main_menu', {'currentClass': 'active', 'ancestorClass': 'active', 'depth': 1}) }}
                {% endblock %}
            </div>
            {% block page_title_standart %}
                <h1 class="page-title">{% block page_title %}Backend{% endblock %}</h1>
            {% endblock %}
        </div>
    </header>
    {% endblock main_header %}
    {% block after_main_header %}{% endblock after_main_header %}
    <div class="page-amax">
        <div class="sidebar">
            {% block affix_menu %}
                {{ mopa_bootstrap_menu('backend_affix_menu', {'currentClass': 'active', 'ancestorClass': 'active', 'depth': 1}) }}
            {% endblock affix_menu %}
        </div>
        <div class="page-content">
            {% block before_content %}{% endblock %}
            {% block content %}{% endblock %}
            {% block after_content %}{% endblock %}
        </div>
    </div>
{% endblock body %}
{% block standart_javascripts %}
    {% javascripts '@BackendDesignBundle/Resources/public/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock standart_javascripts %}
{% block javascripts %}{% endblock javascripts %}
{% block body_end %}{% endblock body_end %}
</body>
</html>
